%% Plugins
{project_plugins, [ pc ]}.
{so_name, "faulterl.so"}.
{port_sources, [ "c_src/faulterl_nif.c" ]}.
{port_specs, [{"priv/faulterl.so", ["c_src/*.c"]}]}.

{port_env, [ {".*", "CFLAGS", "-xc"}
           , {".*", "CFLAGS", "-std=c11"}
           , {".*", "CFLAGS", "-Wall $CFLAGS"}
           , {".*", "CFLAGS", "-Werror $CFLAGS"}
           , {".*", "CFLAGS", "-Wextra $CFLAGS"}
           , {".*", "CFLAGS", "-DNDEBUG $CFLAGS"}
           , {".*", "CFLAGS", "-O2 $CFLAGS"}

           %% NIF driver
           %% https://github.com/uwiger/rebar-1/blob/master/src/rebar_port_compiler.erl#L528
           , {"DRV_CFLAGS", "-fPIC -MMD $ERL_CFLAGS"}
           %% https://github.com/uwiger/rebar-1/blob/master/src/rebar_port_compiler.erl#L537
           , {"ERL_LDFLAGS", "-L$ERL_EI_LIBDIR -lei"}

           %% Linux
           , {"linux", "CFLAGS", "-fexpensive-optimizations $CFLAGS"}

           %% OS X Leopard flags for 64-bit
           , {"darwin.*-64$", "LDFLAGS", "$LDFLAGS"}
           , {"darwin9.*-64$", "LDFLAGS", "-march=mative"}
           ]}.

{provider_hooks, [ {pre, [ {compile, {pc, compile}}
                         , {clean, {pc, clean}} ]} ]}.

{pre_hooks, [{compile, "sh -c 'cd priv/lfi ; make build'"}]}.
{post_hooks, [{compile, "make rebar_post_compile"}]}.

{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls]}.
